<script lang="ts">
	import {  FilterableSetsGrid, keyedLocalStorage } from '@flyingcatband/tunebook';
	export let data;

	const visualTranspose = keyedLocalStorage('globalTransposition', 0);</script>

<svelte:head>
	<title>The Cam-French tune collection</title>
</svelte:head>

<h1 class="mt-3">Welcome to The Cam French tune collection!</h1>
<h2 class="text-center my-4">Global transposition options</h2>
<p class="mx-auto w-fit flex flex-wrap gap-2">
	<button on:click={() => ($visualTranspose = 2)}>Make the folder B♭</button>
	<button on:click={() => ($visualTranspose = 0)}>Make the folder C</button>
	<button on:click={() => ($visualTranspose = -3)}>Make the folder E♭</button>
</p>
<FilterableSetsGrid folder={data.folder} tuneFont="Compagnon" displayAbcFields='' filtersTitle='Filter tunes' />
<footer class="text-sm text-center pb-4">
	<p>Font is Compagnon from <a href="https://velvetyne.fr/fonts/compagnon/">Velvetyne Type Foundry</a></p>
	<p>
	  Site made with &#9825; by
	  <a href="https://www.flyingcat.dance/services#websites">Flying Cat</a>
	</p>
  </footer>
  <style lang="postcss">
	footer a {
		@apply underline text-indigo-600 hover:text-indigo-500;
	}
  </style>