<script>
	import { ViewSet } from '@flyingcatband/tunebook';
	export let data;
</script>

<svelte:head>
	<title>The Cam-French tune collection</title>
</svelte:head>

<button class="z-10 fixed left-2" on:click={() => history.back()}>Back</button>
<ViewSet set={data.set} fontFamily="Compagnon" displayAbcFields="TNCB">
	{#each data.set.notes as note}
		<p class="italic">{note}</p>
	{/each}
</ViewSet>
