@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Compagnon";
    src: url("/fonts/Compagnon-Bold.woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: "Compagnon";
    src: url("/fonts/Compagnon-Medium.woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: "Compagnon";
    src: url("/fonts/Compagnon-Roman.woff2");
    font-weight: 400;
  }


h1 {
	@apply text-3xl lg:text-4xl text-center font-medium;
}

h2 {
	@apply text-2xl font-bold;
}

button {
	@apply cursor-pointer bg-indigo-600 text-neutral-50 px-2.5 py-1.5 font-bold rounded-md hover:bg-opacity-80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
	@apply disabled:opacity-50 disabled:cursor-not-allowed;
}

body {
	@apply accent-indigo-600 touch-pan-y;
}

.set-preview {
	@apply ring-indigo-600 ring-4 rounded-sm;
}
